.list-tendencia {
display: grid;
grid-template-rows: masonry;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 10px 10px;
width: 50%;
margin: 0 auto;
}
.css-efctan {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.1rem;
    margin: 0.1rem;
    background-color: #8668f1;
    color: #18061f;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.1s ease-in 0s;
    font-family: 'Manrope', sans-serif;

}

