:root {
    --results-columns: 2;
}

.ListOfGifs {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.ListOfGifs img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.ListOfGifs-item {
    width: 100%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
}

@media (min-width: 600px) {
    :root {
        --results-columns: 2;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 2;
    }
}
